
{% extends 'rango/base.html' %}
{% block title %}Main Rango Page!{% endblock %}

{% block body_block %}
<div class="hero-unit">
		<h1>Ready to Tango with Rango?!</h1>
    <p>Find, Add, Share and Tango your files to Rango.</p>
</div>
<div class="span6">
        {% if categories %}
 			<ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a><br /></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}
</div>

<div class="span6">
        {% if pages %}
            <ul>
                {% for page in pages %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no pages present.</strong>
     <br><br><a href="/rango/add_category/">Add a New Category</a> <br />
       {% endif %}
</div>
<div class="span6">
  <h2>Top Five</h2>
  {% if page %}
  <ul>
  {% for page in pages %}
  <li><a href="{{ page.url }}"></a> - {{ page.category }} ({{ page.views }}) view(s))</li>
  {% endfor %}
</ul>
{% else %}
<strong>No pages are in the Rango.</strong>
{% endif %} 
</div>
</div>
{% endblock %}
