<!DOCTYPE html>

{% extends 'rango/base.html' %}
{% block title %}Main Rango Page!{% endblock %}

{% block body_block %}

        {% if user.is_authenticated %}
		<h1>Rango says... hello {{ user.username }}!</h1>
		{% else %}
		<h1>Rango says... hello world!</h1>
		{% endif %}

        {% if categories %}
 			<ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a><br></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}


        {% if pages %}
            <ul>
                {% for page in pages %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no pages present.</strong>
      
     <br><br><a href="/rango/add_category/">Add a New Category</a> <br>
       {% endif %}
<!--  	<br>
       <a href="/rango/register/">Register Here</a>
   	</br>
   	<br>
       <a href="/rango/sign_in/">Sign In Here</a>
    </br>
 		
    <br> -->

    	{% if user.is_authenticated %}
			<br><a href="/rango/restricted/">Restricted Page</a><br/>
			<br><a href="/rango/logout/">Logout</a><br/>
		{% else %}
			<br><a href="/rango/register/">Register Here for Free Trial</a><br/>
			<br><a href="/rango/sign_in/">Sign In (Registered Users)</a><br />
		{% endif %}

<br><a href="/rango/about/">About</a><br/>
<br><a href="/rango/add_category/">Add a New Category</a><br/>
{% endblock %}